<div id="app"></div>
<script type="text/javascript">
	// Attempt to load One from root
  var app = Elm.fullscreenDebug('Two', '/client/Two.elm');
  // Elm.embed('Two', document.querySelector("#app")) 
  // Uncomment this line and comment out the above to disable elm-reactor support.
  // var app = Elm.fullscreen(Elm.Wizardry, {});
</script>
