<h2>Using elm-make</h2>
<p>This pages embed the elm-make output directly</p>

<div id="app"></div>
<%= javascript_include_tag('make-one') %>
<script type="text/javascript">
  Elm.embed(Elm.One, document.querySelector("#app")) 
</script>
