<h2>Using elm-make</h2>
<p>This pages embed the webpack output</p>


<div id="app"></div>
<%= javascript_include_tag('three') %>
<script type="text/javascript">
  window.Three(document.querySelector("#app"));
</script>
